<!DOCTYPE html>
<html>
<head><title>Image Gallery</title>
<link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.min.js"></script>
</head>

<body>
  <h2>Search Images</h2>
  <form method="GET">
    <input type="text" name="search" placeholder="e.g. beach">
    <button type="submit">Search</button>
  </form>
  <hr>
  <div id="lightgallery">
    {% for url, tags in images %}
    <a href="{{ url }}"><img src="{{ url }}"  width="200"/></a>
    {% endfor %}
  </div>
  <script>
    lightGallery(document.getElementById('lightgallery'));
  </script>
</body>
</html>